<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    xmlns:Layout-"http://www.ultreq.net.nz/thyme leaf/layout">
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstraps.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-HX94CHFLL+2CWMq91rc0592dYe+M/SXH301p5y+d+JDZ"
            crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div>
        <a class="navbar-brand" th:href="/home}">Home</a>
        <a class="navbar-brand" th:href="gi/course/create)">Add Course</a> </div>
</nav>
<div layout:fragment="content" class="container body-content"> </div>
<div class="card-footer">
    <hr />
    Lập trình ứng dụng Java - Nguyễn Huy Cường- 2023
</div>
</body>
</html>